# Virtual Environments
.venv/
env/
venv/
ENV/

# Bot Configuration and Sensitive Data
dev_config.json
.env

# --- Bot Data ---
/[Dd]ata
./[Dd]ata
./[Dd]ata/*.db

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
.vscode/

# Git
.git/
.gitignore